@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue-Montreal;
  src: url('./assets/fonts/Neue-montreal-free-demo_pangram-pangram_030418/NeueMontreal-Medium.otf');
}


body {
  margin: 0;
  font-family: Neue-Montreal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(177,177,195,1) 84%, rgba(0,255,250,1) 100%);

 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.video-bg{
  z-index: -1;
}

.text-shadow {
  text-shadow:0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
}

.name-icon g {
  fill: #fff;
}
.name-icon path{
  stroke: #fff;
  stroke-width: 3px;
  text-shadow:5px 5px rgba(0, 0, 0, 0.5);
}

.name-icon{
  text-shadow:5px 5px 3px rgba(0, 0, 0, 0.5);
}

.toronto-video {
  z-index: -5;
  filter: brightness(75%);
}

.z-index-behind{
  z-index: -4;
}

.bg-about{
  background: rgba(0, 0, 0, 0.8);
}

.bg-button {
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.translate-show{
  transform : translateX(0%);
}
.translate-hide{
  transform : translateX(150%);
}