@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue-Montreal;
  src: url('./assets/fonts/Neue-montreal-free-demo_pangram-pangram_030418/NeueMontreal-Medium.otf');
}


body {
  margin: 0;
  font-family: Neue-Montreal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-bg{
  z-index: -1;
}

.text-shadow {
  text-shadow:0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
}

.name-icon g {
  fill: #fff;
}
.name-icon path{
  stroke: #fff;
  stroke-width: 3px;
  text-shadow:5px 5px rgba(0, 0, 0, 0.5);
}

.name-icon{
  text-shadow:5px 5px 3px rgba(0, 0, 0, 0.5);
}

.toronto-video {
  z-index: -5;
  filter: brightness(85%);
 
}

.z-index-behind{
  z-index: -4;
}

.bg-about{
  background: rgba(0, 0, 0, 0.8);
}

.bg-button {
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.img-hover-zoom {

  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.translate-show{
  transform : translateX(0%);
}
.translate-hide{
  transform : translateX(150%);
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.dark-glassmorphism {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
}